.DS_Store

*.cbp
.idea/
.settings/language.settings.xml

build/log/

cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

*.properties

out/

src/sandbox/
!src/sandbox/README.md
res/sandbox/
!res/sandbox/README.md
